<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div id="app">
			<h1>The ID Game</h1>
			<div v-if="!profileComplete" class="container">
				<profile-creation v-on:profile-created="updateProfileComplete"></profile-creation>
			</div>
			<div v-else id="room-data" class="container">
				<room-component v-bind:game-started="gameStarted" v-on:start-game="startGame"></room-component>
			</div>
			<game-component v-if="gameStarted"></game-component>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</body>
</html>